@import "fonts.less";

@defaultDuration: 1s;
@panel-transition-duration:0.2s;
@defaultFontSize: 16px;

@headerHeight: 8vh;
@headerWidth: 100vw;
@footerHeight: 15vh;
@tileHeight: 30vh;
@featuredHeight: 40vh;
@featuredTileWidth: 25vw;

@pageHeight: @windowHeight - @headerHeight - @playerHeight;
@pageHeightWithoutPlayer: @windowHeight - @headerHeight;
@pageWidth: @windowWidth;

@playerHeight: 10vh;
@playerSeekHeight: 10px;
@playerTracklistHeight: 50vh;

@spinnerHeight: 120px;
@spinnerWidth: 126px;

@windowWidth: 100vw;
@windowHeight: 100vh;

@defaultFontStyle: Avenir Regular;
@lightFontStyle: Avenir Light;