@import "fonts.less";

@defaultDuration: 1s;
@panel-transition-duration:0.2s;
@defaultFontSize: 16px;

@pageHeight: 90vh;
@headerHeight: 8vh;
@headerWidth: 100vw;
@footerHeight: 10vh;
@playerHeight: 10vh;
@pageWidth: 100vw;

@tileHeight: 30vh;

@defaultFontStyle: Avenir Regular;
@lightFontStyle: Avenir Light;