nav#Header {
	background: white;
	color: @dark-gray;
	height: 64px;
	position: fixed;
	width: 100%;
	z-index: 99;
	font-size: 1.5rem;
	align-items: center;
	.card(2);
	a {
		margin: auto 2rem;
		font-size: 4.5rem;
	}
	> div {
		margin-left: 2rem;
	}
}