// boilerplate
@import 'fonts';
@import 'colors';
@import 'variables';
@import 'mixins';
@import 'flex';
@import 'normalize';

// components
// @import 'About';
@import 'ArtistTile';
@import 'Avatar';
@import 'DetailHeader';
@import 'DetailButton';
@import 'Dropdown';
@import 'EventTile';
@import 'FestivalTile';
@import 'Footer';
@import 'Header';
@import 'IconMenu';
@import 'LandingPage'; // TODO deprecate
@import 'Location';
@import 'LoginOverlay';
@import 'MixTile';
@import 'NavBar';
@import 'NoFavorites';
@import 'Notifications';
@import 'Overlay';
@import 'Player';
@import 'PlayerControl';
@import 'PlayerSetInfo';
@import 'PlayerSeek';
@import 'PlayerTracklist';
@import 'Tabs';
@import 'SearchBar';
@import 'SearchResults';
@import 'SetShare';
@import 'SetTile';
@import 'SocialMediaLinks';
@import 'Spinner';
@import 'TileContainer';
@import 'ToolTip';
@import 'Track';
@import 'TrackTile';
@import 'View';

.dmca-container {
	color: @dark-gray;
	padding: 5vh;
	line-height: 1.5rem;
	ol ol {
		list-style-type: lower-alpha;
	}
	.flex-row {
		width: 6vw;
	}
}

.error {
	background: inherit;
	color: @dark-gray!important;
	margin: 0 auto;
	text-align: center;
	h4 {
		margin-top: 0;
	}
}