#SetstoryLandingPage {
	font-family: Avenir Light;
	margin-top: @headerHeight;
	width: 100%;
	background-color: @white;
	justify-content: center;
	align-items: center;

    .RecoveryDeepLink {
        .colors(@dark-gray, @white);
        .justifyContentCenter();
        width: 100%;
        height: 80vh;
        padding-top: 10rem;
        img {
            height: 10rem;
            width: 10rem;
        }
        h2 {
            padding-top: 3rem;
        }
        .sign-in {
            margin: auto;
            font-size: @defaultFontSize*1.6;
            .sign-in-text {
                padding: 2rem 4rem;
                border-radius: 5px;
                background-color: @blue;
            }
        }
    }

    section.mainLanding{
    	color: @white;
    	width: 100%;
    	height: 95vh;
    	background-image: url(/images/setstory/background.jpg);
    	background-repeat: no-repeat;
    	background-size: 100% 100%;
    	
    	.mainLogo {
    		margin: 2rem;
    		img{
    			.size(40px, 40px);
    			margin: auto 0;
    		}
    		h2 {
    			margin: auto 1rem;
    		}
		}
	 	.aquire {
	 		.flex-row;
	 		width: 100%;
	 		.landingPhones {
	 			background: url(/images/setstory/landingPhones.png) no-repeat;
				background-size: 50% 90%;
				background-position: center;
		   	}
	 		.uv {
	 			margin-top: 2vw;
	 			width: 50%;
	 			height: 100%;
	 		}
			.setstory-apps {
		 		color: white;
		 		font-size: 12rem;
		 		margin-top: 6rem;
		 		width: 50%;
			}
	   	}
	   	.small({
	   		.aquire {
	   			.flex-column;
		   		.uv {
		   			width: 100%;
		   		}
		   		.setstory-apps {
		   			margin-top: 0;
		   		}
	   		}
	   		
   		});
	}

	section.beacon {
		color: @dark-gray;
		justify-content: center;
		align-items: center;
		height: 66vh;
		width: 100%;
		img {
			.size(110px , 110px);
			margin: 4rem;
		}
		.small({
			height: 100vh;
			});
	}

	section.offer {
		background: url('/images/setstory/inbox.png'), @dark-gray;
		background-size: 80% 85%;
		background-repeat: no-repeat;
		background-position: center;
    	height: 100vh;
    	color: white;
		h4 {
			margin: 2rem;
			letter-spacing: 2px;
			font-family: @bold;
		}
		.text-container {
    		width: 100%;
    		height: 38vw;
    		background-size: 65%;
    		background-position: center, bottom;
    		background-repeat: no-repeat;
    		.text {
    			position: relative;
    			div {
    				position: absolute;
	    			width: 50%;
	    			.small({width:100%});
    			}
    			h4 {
	    			color: @blue;
	    			font-family: @bold;
	    			letter-spacing: 2px;
	    		}
    		}
    		.custom {
    			bottom: 25%;
    			left: 10%;
    			.small({
    				left:50%; 
    				bottom:10%;
  				});
    		}
    		.inbox {
    			top: -10%;
    			left: 40%;
    			.small({
    				left:-50%;
    				top: 0;
    			});
    		}
		}
		.small({
			background-size: 120% 35%;
			height: 130vh;
		});
	}

	section.metrics {
		height: 100vh;
		width: 100%;
		.colors(@light-gray, @dark-gray);
		h3 {
			text-align: center;
			width: 100%;
			margin: 3rem 0;
		}
		.morty {
			width: 100%;
			.flex-row;
			.metricsPic{
				background: url('/images/setstory/metrics.png') no-repeat;
				background-position: center 0%;
				background-size: 75%;
			}
			.text-container {
				width: 60%;
				justify-content: center;
				.flex-fixed-2x;
    			.text {
    				align-items: center;
    				margin-bottom: 8rem;
    			}
    			
    			img {
    				align: middle;
    				.size( 50px , 50px);
    			}

    			p {
    				margin-left: 4rem;
    				width: 60%;
    			}
			}
		}
		.small({
			height: 180vh;
			.morty {
				.flexContainer(column-reverse);
				.text-container {
					width: 100%;
					justify-content: initial;
					.flex-fixed;
					.text {
						margin-left: 10vw;
					}
				}
			}
		});
	}
}

section.model {
	.colors(@blue, @white);
	.flexContainer(row, wrap);
	text-align: center;
	img {
		.size(80px, 80px);
		margin: 4rem auto 2rem;
	}
	.caption {
		margin: 0;
		position: absolute;
		top: 2rem;
		left: 2rem;
	}
}